body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.header-color {
    color: #2E2F42;
}

a {
    text-decoration: none;
}

.page-nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.link {
    color: #2E2F42;
}

.page-nav .link:hover,
.page-nav .link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.section-one {
    background-color: #2e2f42;
}

.header-one {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}

.bcolor {
    color: #ffffff;
    font-family: Roboto,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background:  #4D5AE5;
}

.bcolor:hover,
.bcolor:focus {
    background: #404BBF;

}

.section-one > button {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.section-three {
    background: #f4f4fd;
}

.list-color {
    background-color: #ffffff;
}

.header-two {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.section-color {
    background-color: #ffffff;
}

.header-three {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.pagetext {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.footertext {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.logoweb {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studioheader {
    color:#2E2F42;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.studiofooter {
    color: #F4F4FD;
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

.footercolor {
    background: #2E2F42;
}